body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ......DarkMode..... */
#dark{
  background-color: rgb(122, 116, 116);
  color: white;
}
#dark .about-content h2{
  color: aqua;
}
#dark .about-content hr{
  color: white;
}
#dark .education h1{
  color: aqua;
}
#dark .education hr{
  color: white;
}
#dark .techstack h1{
  color: aqua;
}
#dark .techstack hr{
  color: white;
}
#dark .project h1{
  color: aqua;
}
#dark .project hr{
  color: white;
}